body {
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(92, 173, 205);
}

h1{
    font-size: 10ch;
}

p{
    font-size: 5ch;
}