body {
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(173, 92, 205);

}

h1{
    font-size: 10ch;
}

label {
    font-family: "Gravitas One", serif;
    font-size: 5ch;
}